/* Global */
:root {
	/* Color */
	--color-white: #ffffff;
	--color-light-white: #eeeeee;
	--color-dark-white: #bdbdbd;
	--color-pink: #fe918d;
	--color-dark-pink: #ff6863;
	--color-black: #4d4d4d;
	--color-dark-grey: #4d4d4d;
	--color-grey: #616161;
	--color-light-grey: #7c7979;
	--color-blue: #73aace;
	--color-yellow: #fff7d1;
	--color-orange: #feb546;
	--color-black: #000000;
	--color-green: #00251a;
	--color-light-green: #ffffa6;

	/* Font size */
	--font-large: 48px;
	--font-medium: 28px;
	--font-regular: 18px;
	--font-small: 16px;
	--font-micro: 14px;

	/* Font weight */
	--weight-bold: 700;
	--weight-semi-bold: 600;
	--weight-regular: 400;

	/* Size */
	--size-border-radius: 4px;

	/* Annimation */
	--animation-duration: 300ms;
}

/* Universal tags */

* {
	box-sizing: border-box;
}
body {
	margin: 0px;
}
/* Typography */
a {
	text-decoration: none;
	color: white;
}

ul {
	list-style: none;
	padding-left: 0;
}

h1 {
	font-size: var(--font-large);
	font-weight: var(--weight-bold);
	color: var(--color-black);
	margin: 16px 0px;
}

h2 {
	font-size: var(--font-medium);
	font-weight: var(--weight-semi-bold);
	color: var(--color-black);
	margin: 8px 0;
}

h3 {
	font-size: var(--font-regular);
	font-weight: var(--weight-regular);
	color: var(--color-black);
	margin: 8px 0;
}

p {
	font-size: var(--font-regular);
	font-weight: var(--weight-regular);
	color: var(--color-black);
	margin: 4px 0;
}
#navbar {
	display: flex;
	justify-content: space-between;
	background-color: var(--color-light-green);
	align-items: center;
	font-family: "Nanum Gothic", sans-serif;
	padding: 16px;
}

.navbar__logo {
	font-size: var(--font-medium);
	font-weight: var(--weight-regular);
}
.navbar__logo a {
	color: var(--color-black);
	font-weight: var(--weight-boldf);
}
#navbar i {
	color: green;
}
.navbar__memu {
	display: flex;
}
.navbar__menu__items {
	padding: 8px 12px;
	margin: 0px 4px;
	color: var(--color-black);
	cursor: pointer;
}
.navbar__menu__items:active {
	border: 1px solid var(--color-black);
	border-radius: 4px;
}
.navbar__menu__items:hover {
	background-color: var(--color-green);
	border-radius: 4px;
	color: var(--color-white);
	font-weight: var(--weight-bold);
}

/* home */

#home {
	background: url(imgs/webbg.png) center/cover;
	text-align: center;
}
#home img {
	width: 300px;
	margin: 24px;
}
#home h1 {
	margin: 24px;
}
#home h2 {
	margin: 24px;
}
#home button {
	margin: 24px;
	padding: 5px 10px;
	font-size: var(--font-regular);
	background: none;
	border: var(--color-green) 1px solid;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	font-weight: var(--weight-bold);
}

#home button:hover {
	background: var(--color-green);
	color: var(--color-white);
	transition: ease-in-out 500ms;
	font-weight: var(--weight-bold);
}
